/* headings */

.heading{
  &-name{
  /* h1 */
  animation: moveinleft 2s ease-out;
}

&-title{
  /* h2 */
  animation: moveinleft 2s ease-out;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

&-intro{
  /* h5 */
  animation: moveinleft 2s ease-out;
  animation-delay: 2s;
  animation-fill-mode: backwards;

}
&-main{
  backface-visibility: hidden;
  animation-fill-mode: backwards;
}

.-skill-title{
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: $color-skill-h2;
}

}