// variables

$color-primary-background: #eef1ff;;
$color-primary-dark: #b3b8c5;
$color-gradient-light: #7895b2;
$color-sub-main: #ff6b4a;
$color-sub-hover: #4880b7;
$color-h1-car-nav:  #0b0b0bc4;
$color-skill-h2:#40514e;
$color-text-body: black;